
bin/
target/
.flattened-pom.xml
.classpath
.project
.settings

node/
node_modules/

.mta/
*.mtar

*.log*
gc_history*
hs_err*
*.tgz
*.iml


.idea


# added by cds deploy
default-env.json


# added by cds deploy
connection.properties